.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col,
.col-1,
div[class*='col-'] {
    border: 0px solid black;
    table-layout: fixed;
    width: auto;
    margin: 0;
    justify-content: center;
}

.col-2,
a {
    text-align: center;
    justify-content: center;
}

.col-12 {
    padding-left: 0;
    padding-right: 0;
}

table,
tr,
td {
    border: 0px solid black;
}

#pic1 {
    width: 260px;
}

img {
    width: 100px;
}

#table11 {
    width: 100%;
    height: 40px;
    background-color: whitesmoke
}

#table1,
table,
#carouselExampleIndicators {
    width: 100%;
}

div[class*='footer-copyright text-center py-3'] {
    color: white;
}

#space {
    width: 70%;
}

h1,
h3,
h2 {
    text-align: center;
}

h1 {
    font-style: oblique;
}

p {
    text-align: center;
    justify-content: center;
}

#bio,
#preferent,
#history,
#speciality,
#favorite {
    text-align: center;
    text-decoration: none;
    color: black;
}

#bio:hover,
#preferent:hover,
#history:hover,
#speciality:hover,
#favorite:hover {
    color: white;
    cursor: pointer;
}

#background {
    text-shadow: 3px 2px white;
    text-align: center;
    color: black;
    font-size: 70px;
    font-family: initial;
    width: 100%;
    height: 500px;
   
    background-size: cover;
}

#table2,
body>div>div.col-12>nav {
    width: 100%;
    background-color: whitesmoke;
}

#img1 {
    width: 510px;
}

#img3 {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img4 {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img5 {
    width: 500px;
    margin-left: 20%;
}

#img6 {
    width: 500px;
    margin-left: 20%;
}

#img7 {
    width: 500px;
    margin-left: 20%;
}

#img8 {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img9 {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img10 {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img11 {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bio2 {
    width: 100%;
    height: 200px;
    background-color: aliceblue;
}

#bio3 {
    width: 100%;
    height: 200px;
    background-color: azure;
}

#bio4 {
    width: 100%;
    height: 200px;
    background-color: aliceblue;
}

#bio5 {
    vertical-align: baseline;
    background-color: gainsboro;
}

#table3 {
    width: 100%;
    background-color: gainsboro;
}

#table4 {
    width: 100%;
    margin: 0 auto;
    background-color: aliceblue;
}

#table5 {
    width: auto;
    margin: 0 auto;
    background-color: azure;
}

#img22 {
    width: 300px;
}

#text1 {
    text-align: left;
}

#picSpecial1,
#picSpecial2,
#picSpecial3 {
    width: 330px;
    height: 330px;
}